<% define_template "ops_source", jsonmodel_definition(:ops_source) do |form| %>
  <div class="subrecord-form-fields">
			<%= form.label_and_textfield "author" %>
			<%= form.label_and_textfield "title" %>

  </div>
<% end %>
