<% define_template "ttusea_img", jsonmodel_definition(:ttusea_img) do |form| %>
  <div class="subrecord-form-fields">
			<%= form.label_and_textfield "image_link" %>
			<%= form.label_and_textarea "description" %>
  </div>
<% end %>
