<% define_template "ops_aunit", jsonmodel_definition(:ops_aunit) do |form| %>
  <div class="subrecord-form-fields">
			<%= form.label_and_textfield "unit" %>
			<%= form.label_and_textfield "branch" %>
			<%= form.label_and_textfield "branch_abbr", :col_size => 3 %>

  </div>
<% end %>
