<% define_template "ttusea_ttu", jsonmodel_definition(:ttusea_ttu) do |form| %>
  <div class="subrecord-form-fields">
			<%= form.label_and_textfield "date_s", :col_size => 2 %>
			<%= form.label_and_textfield "date_e", :col_size => 2 %>
  </div>
<% end %>
